body {
    background-color: #000;
    margin: 0px;
    color: #ccc;
    height: 100%;
    overflow: hidden;
}
html {
    height: 100%;
    margin: 0px;
}

canvas {
    position: absolute;
}
.black{
    color: rgb(39, 37, 37);
}